body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

  background-color: #f2f2f2ff;
  /*
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  */

}

h1 {
  /*
  */
}

h2 {
  /*
  font-size: 1.2em;
  */
}

.product_container {
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1400px;

  /*
  width: 100%;
  width: 100%;
  margin: 50px auto auto 0px;
  margin: 0px auto;
  max-width: 1560px;
  */
}

.product_container h1 {

  font-size: 1.5em;
  margin: 15px auto;
  /*
  margin: 0px auto;
  */
}

.product_content-wrapper {
  margin: 0px auto;
}

.photo_thumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 2px 0px;

  /*
  white-space: nowrap;
  overflow-y: scroll;
  */
}

.large-view_wrapper {
  position: relative;
  float: left;
  width: 63%;
  margin: 2px 0px;

  /*
  box-sizing: border-box;
  padding: 0px 2px;
  height: 400px;
  */
}

.large-view_container {
  padding-bottom: 55%;
  /*
  height: 100%;
  */
}

.photo-enlarged {
  position: absolute;
  top: 0px;

  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-image: url("../images/IMG_0644RS.jpg");

  visibility: hidden;

  /*
  height: 350px;
  */
}

.large-view_container .sketchfab {
  position: absolute;
  top: 0px;

  width: 100%;
  height: 100%;

  /*
  */
}

.large-view_container iframe {
  width: 100%;
  height: 100%;
}

.photo_thumbs .ratio-holder-box {

  position: relative;
  flex-grow: 0;
  flex-shrink: 0;

  width: 33.3%;
}

.photo_thumbs .ratio-holder {
  padding-bottom: 55%;
}

.photo_thumb {
  position: absolute;
  top: 0px;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px 2px;

  background-size: cover;
  background-clip: content-box;
  background-position: center;

  /*


  height: 250px;
  display: inline-block;
  float: left;
  */
}

.info-container .info-header,
.info-container .info-tabs,
.info-container .info-content {
  background-color: #ffffffff;
  margin: 8px 0px;
  /*
  padding: 0.5em 0px;
  */
}

.info-container {
  float: left;
  width: 37%;

  box-sizing: border-box;
  margin: 2px 0px;
  padding: 0px 2px 0px 0px;

  overflow: hidden;

  /*
  overflow-y: scroll;
  height: 400px;
  */
}

.info-container .info-header {
  margin-top: 0px;
  /*
  padding: 0.5em 0px;
  */
}

.info-container .info-header .float-box {
  padding: 0.5em 1em;
  margin: 1em 0px 1.7em 0px;
  float: left;
  /*
  padding: 1em 0px 1.3em 0px;
  */
}

.info-container .info-header .fieldname {
  margin-right: 1em;
  color: #c0c0c0ff;
}

.info-container .info-header .cta {
  float: right;
  padding: 0.5em 1em;
  margin: 1em 1em 1.7em 0px;

  background-color: #ed1e26ff;

  /*
  padding: 1em 1em 1.3em 1em;
  */
}

.info-container .info-tabs {
  padding: 5px 1em;
}

.info-container .info-tabs span {

  /*
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 30px 0px;
  background-color: grey;
  */
  padding: 5px 1em 5px 0px;
}

.info-container .info-content {
  overflow-y: scroll;

  margin-right: -25px;
  padding: 1em 25px 1em 1em;

  /*
  padding-right: 25px;
  max-height: 200px;
  padding-left: 1em;
  min-height: 350px;
  */
}

.fields-and-desc {
  /*
  display: none;
  height: 400px;
  */

}

.fields-and-desc span {
  font-weight: bold;
}

.row.column-names {
  font-weight: bold;
}

.row span {
  display: inline-block;
  width: 50px;
  text-align: center;

  /*
  background-color: grey;
  */
}

.row span:nth-child(1) {
  width: 100px;
  text-align: right;
  font-weight: bold;
}

.photo_thumbs .ratio-holder-box:nth-child(1) .photo_thumb {
  background-image: url("../images/IMG_0644RS.jpg");
}

.photo_thumbs .ratio-holder-box:nth-child(2) .photo_thumb {
  background-image: url("../images/IMG_0652RS.jpg");
}

.photo_thumbs .ratio-holder-box:nth-child(3) .photo_thumb {
  background-image: url("../images/IMG_0713RS.jpg");
}

.large-photo {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

.large-photo img {
  flex-grow: 0;
  flex-shrink: 0;
}

.large-photo-anim {
  transition: opacity 300ms ease-in;
}

.clearfloat {
  clear: left;
  clear: right;
}

.noned {
  display: none;
}

@media (max-width: 1024px) {
  .photo_thumb {
    height: 200px;
  }

  .large-view_wrapper {
    float: none;
    clear: left;
    width: auto;
    /*
    height: 300px;
    */
  }

  .info-container {
    float: none;
    width: auto;
    clear: left;
    /*
    height: 300px;
    */
  }

  .info-content {
    max-height: 350px;
  }

  .fields-and-desc {
    /*
    display: none;
    height: 400px;
    */

  }
}

@media (max-width: 768px) {
  .photo_thumb {
    width: 100%;
    height: 350px;
    margin: 2px 0px;
  }

  .large-view_wrapper {
    float: none;
    clear: left;
    width: auto;
    /*
    height: 300px;
    */
  }

  .info-container {
    float: none;
    width: auto;
    clear: left;
    /*
    height: 300px;
    */
  }
}
