body {

}

.product_container {

}

.product_container h1 {
  margin: 0px auto;
}

.product_content-wrapper {
  margin: 0px auto;
}

.photo_thumbs {
  display: flex;

  /*
  white-space: nowrap;
  overflow-y: scroll;
  */
}

.large-view_container {
  float: left;
  width: 70%;
  height: 350px;
}

.info-container {
  float: left;
  width: 30%;
}

.clearfloat {
  clear: left;
}

.photo_thumb {
  flex-grow: 0;
  flex-shrink: 0;

  box-sizing: border-box;

  width: 33%;
  height: 200px;

  padding: 0px 2px;

  background-size: cover;
  background-clip: content-box;
  background-position: center;

  /*
  display: inline-block;
  float: left;
  */
}

.photo_thumbs .photo_thumb:nth-child(1) {
  background-image: url("../images/IMG_0644RS.jpg");
}

.photo_thumbs .photo_thumb:nth-child(2) {
  background-image: url("../images/IMG_0652RS.jpg");
}

.photo_thumbs .photo_thumb:nth-child(3) {
  background-image: url("../images/IMG_0713RS.jpg");
}
